table {
    border-collapse: collapse;
    width: inherit;
}

tr {
    width: 100%;
    height: 40px;
    padding: 10px 20px;
}

.table-row-header{ 
    background: lightgrey;
    padding: 10px 0;
    position: sticky;
    top: 0;
}

.table-row-body{ 
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}

.table-data-header{
    min-width: 60px;
}

td {
    text-align: center;
}